.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

#map {
  height: 100vh;
  min-width: 65vw;
}

.App {
  width: 35vw;
  height: 100vh;
  overflow-y: scroll;
}

.location {
  border: 1px solid #000;
  margin: 5px;
  padding: 8px;
  text-align: center;
}

@media screen and (max-width: 450px) {
  #map {
    height: 45vh;
    width: 100vw;
  }

  .App {
    height: 55vh;
    width: 100vw;
  }

  .container {
    flex-direction: column;
  }
}
